
.player {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
}

.player-inner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
}

.player-left {
    /*background: dodgerblue;*/
    transform: scale(-1, -1);
}

.player-right {
    /*background: brown;*/
}

.wins {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 25px;
}

.life {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.control {
    font-size: 5rem;
}

.control-sm {
    font-size: 3rem;
}

button {
    background: transparent;
    border: none;
    color: white;
    display: flex;
    text-align: center;
    height: 100%;
    width: 60px;
}

.name {
    text-transform: uppercase;
    font-size: 2rem;
}